name: Extract infrastructure configuartion

on:
  workflow_call:
    secrets:
      config:
        required: true
jobs:
  extract:
    runs-on: ubuntu-20.04
    environment: dev
    steps:
      - name: Extract non-sensitive secrets
        id: extract
        run: |
          mkdir -p .local/bin
          curl --retry 5 -L https://github.com/mikefarah/yq/releases/download/v4.24.4/yq_linux_amd64 -o .local/bin/yq
          chmod +x .local/bin/yq

          TMPFILE=`mktemp`
          echo "Hello World"
          echo "$SECRET" | base64 -d
          echo "$SECRET" | base64 -d > $TMPFILE          
          echo "::set-output name=tmpfile::$TMPFILE"
          cat $TMPFILE
        env:
          SECRET: ${{ secrets.config }}

      - name: Upload infrastructure config
        uses: actions/upload-artifact@v3
        with:
          name: ds-infrastructure-config.yaml
          path: ${{ steps.extract.outputs.tmpfile }}