name: Extract infrastructure configuartion

on:
  workflow_call:
    secrets:
      config:
        required: true
    outputs:
      service-bus-id:
        value: ${{ jobs.extract-infrastructure-config.outputs.service-bus-id }}
      service-bus-resource-group-name:
        value: ${{ jobs.extract-infrastructure-config.outputs.service-bus-resource-group-name }}

jobs:
  extract-infrastructure-config:
    runs-on: ubuntu-20.04
    steps:
      - name: Extract non-sensitive secrets
        id: infrastructure
        run: |
          mkdir -p .local/bin
          curl --retry 5 -L https://github.com/mikefarah/yq/releases/download/v4.24.4/yq_linux_amd64 -o .local/bin/yq
          chmod +x .local/bin/yq

          PLAIN=`echo "$SECRET" | base64 -d | yq -o props`

          VALUES_FOR_NOTICE=`echo "$PLAIN" | awk '{ print $1" = "$3 }'`
          echo "::notice::Setting the following non-sensitive values: $VALUES_FOR_NOTICE" 
          
          echo '::echo::on'
          echo "$PLAIN" | awk '{print "::set-output name="$1"::"$3 }'
        env:
          SECRET: ${{ secrets.config }}
    outputs:
      service-bus-id: ${{ steps.infrastructure.outputs.service-bus-id }}
      service-bus-resource-group-name: ${{ steps.infrastructure.outputs.service-bus-resource-group-name }}