name: Extract repository configuartion

on:
  workflow_call:
    secrets:
      config:
        required: true

jobs:
  extract-repository-config:
    runs-on: ubuntu-20.04
    steps:
      - name: Extract non-sensitive secrets
        id: artifactory
        run: |
          mkdir -p .local/bin
          curl --retry 5 -L https://github.com/mikefarah/yq/releases/download/v4.24.4/yq_linux_amd64 -o .local/bin/yq
          chmod +x .local/bin/yq

          PLAIN=`echo "$SECRET" | base64 -d | yq -o props`

          VALUES_FOR_NOTICE=`echo "$PLAIN" | awk '{ print $1" = "$3 }'`
          echo "::notice::Setting the following non-sensitive values: $VALUES_FOR_NOTICE" 
          
          echo '::echo::on'
          echo "$PLAIN" | awk '{print "::set-output name="$1"::"$3 }'
        env:
          SECRET: ${{ secrets.config }}
    outputs:
      container-registry-name: ${{ steps.artifactory.outputs.container-registry-name }}
      artifactory-username: ${{ steps.artifactory.outputs.artifactory-username }}
      npm-all-url: ${{ steps.artifactory.outputs.npm-all-url }}
      npm-packages-url: ${{ steps.artifactory.outputs.npm-packages-url }}